.body {
  padding: 0 0.5rem;


}

.header {
  max-width: 100vw;
  margin-top: 1vh;
}

.pageScroll {
  min-height: 100vh;
  width: 100%;
  align-self: center;
}



.container {

}

.pageSection1 {
  padding-top: 10vh;
  height: 100vh;
  width: 100%;
  align-items: center;

  /* scroll-snap-align: start; */
}

.pageSection2 {
  min-height: 100vh;
  width: 100%;
  background-color: #5c5a5c;
  margin-bottom: 5vh;
  background-image: url(/ProjectImgs/Moonwalk.PNG);
  resize: both;
  background-size: contain;
  background-repeat: no-repeat;

  /* scroll-snap-align: start; */
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.project_img {
  object-fit: cover;
  min-height: 70vh;
  
}
